body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(122, 19, 81) , rgb(81, 207, 169));
   }

   .all_App{
    font-family: sans-serif;
    width: min(95vw,500px);
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top:100px;
   }

   .container{
    background-color: chocolate;
    padding: 2em 2.5em;
    border-radius: 0.8em;
    box-shadow: 0 1em 2em black;  
}
#input-Section{
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}
#input-text{
    color:rgb(10, 4, 21);
    background: transparent;
    border: none;
    padding: 1em 0.5em;
    border-bottom: 2px solid #e3c369;
}

#input-text::placeholder{
    color: black;
}

#input-text:focus{
    outline:none;
    border-color: #1b9ec6;
}
#add_btn{
    position: relative;
    border-radius: 0.5em;
    font-weight: 500;
    font-size: 1em;
    background-color: yellow;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#add_btn:hover{
    background-color:#1bb7da;
}

#error-msg{
    text-align: center;
    background-color: aliceblue;
    color: red;
    margin-top: 2.5em;
    padding:1em 0 ;
    border-radius: 0.8em;
    display: none;
}
#count-section{
    margin-top: 1em;
    border-radius: 0.5em;
        width:100%;
    position: relative;
    padding: 1em 0.5em;
}

.task{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    gap: 0.5em;
    padding: 1em 1em;
    align-items: center;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 0.5em;
}

